
#root{
    min-height: 1000px;
    height: auto!important;
    background: #262626;
    height: 100%;
    padding: 50px;
    color: white;
}
body {
    font-family: 'Merriweather', serif;
  }
  .heading {
    font-weight: 900;
  }
  .subheading {
    font-weight: 300;
  }
.title{
    border: 1px solid #a0a8b9;
    margin-bottom: 9px;
    background: #a0a8b9;
}
.title h5{ 
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: medium;
    background: linear-gradient(180deg, rgba(172,180,196,1) 50%, rgba(134,145,165,1) 100%);
}
.main-content {
    width: 800px;
    margin: 0 auto;
    border: 25px solid #f7f7f7;
    background: #7a808f;
    padding: 20px;
}
.mainWrap {
    padding: 20px;
    max-width: 550px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .form-group {
    margin-bottom: 15px;
}
.form-control {
    font-size: 12.5px;
    height: 30px;
    box-shadow: none;
    background: #9ca0ab;
    border: 2px solid #ebecee;
    min-width: 150px;
    color: #ffffff94;
}
.add-btn{
    min-width: 158px;
    height: 35px;
    color: #fff;
    margin-top: 50px;
}
.dropdown{
    min-width: 158px;
    height: 35px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    text-align: left;
  }
  table{
    border-collapse: collapse;
  }
  .table-wrap {
    min-width: 160px;
    float: left;
    border: 4px solid;
}
.thead-main{
  background: linear-gradient(178deg, rgba(175,188,209,1) 50%, rgba(100,109,131,1) 100%);
    display: table-caption;
    padding: 5px;
    margin-bottom: 10px;
}
.main-table-body tr:nth-child(even){
    background: #bdc0c7;
}
.main-table-body tr:nth-child(odd){
    background: #f2f3f4;  
    color: #9ca0ab
}
.top-bar{    margin-bottom: 40px;}
.top-bar h1{ 
    font-weight: bold;     
    font-style: italic;
    font-size: 50px;
    display: contents;
}
.top-bar p{    
    color: #26ccb9db;
    width: 400px;
    font-weight: 500;
}
.th-title{
    font-weight: normal;
}
.item-text {
    min-width: 140px;
    padding: 8px;
    text-transform: uppercase;
}
.btn-main{
    padding-right: 5px;
}
.form-main{
    margin-right: 5px;
}
.search-main {    
    margin-top: 30px;
    width: 150px;
}
.search-main p{display: contents; font-size: 12px;}
.search-main ul{display: contents;}
.searchinput{height: 18px;}